# Pandas: DataFrames, Merging, Joining etc.

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c', 'd']
mydata = ['Afghanistan', 'Bangladesh', 'Canada', 'Denmark']
pd.Series(data = mydata)

0    Afghanistan
1     Bangladesh
2         Canada
3        Denmark
dtype: object

In [3]:
arr = np.array(mydata)

In [4]:
arr

array(['Afghanistan', 'Bangladesh', 'Canada', 'Denmark'], dtype='<U11')

In [5]:
from numpy.random import randn

In [ ]:
np.random.Seed(105)

In [6]:
frame_data = pd.DataFrame(randn(4,3), ['A', 'B', 'C', 'D'], [1, 2, 3])

In [7]:
frame_data

          1         2         3
A -0.035033  0.295789  1.619274
B -0.416494 -1.274346 -1.081964
C -1.192860  0.165460  1.320148
D  0.720361  1.266808 -0.053611